/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-inner{
   max-width: 1160px;
   width: 100%;
   margin: 0 auto;

   @media screen and (max-width: 1160px){
      padding: 0 10px;
   }
}

.l-inner-2{
   max-width: 1460px;
   width: 100%;
   margin: 0 auto;

   @media screen and (max-width: 1460px){
      padding: 0 10px;
   }
}