/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*---------------------------- Brand ----------------------------*/
.c-brand{
   // title
   // -------------------------------------------------------
   .c-title{
      margin-bottom: 46px;

      &__sub{
         margin-top: 6px;
      }
   }
   li{
      &:hover{
         img{
            transform:scale(1.2);
         }
      }
   }

   // list
   // -------------------------------------------------------
   &__lists{
      @include clear;
      margin:0 -12px;
   }

   // item
   // -------------------------------------------------------
   &__item{
      width: 33.333%;
      float: left;
      padding: 0 12px;

      @include sp{
         width: 100%;
         float: none;
      }

      &:not(:last-child){
         @include sp{
            margin-bottom: 30px;
         }
      }
   }

   // image
   // -------------------------------------------------------
   &__img{
      margin-bottom: 10px;
      overflow: hidden;

      img{
         transition: all .3s ease-out;
      }

      @include sp{
         text-align: center;
      }
   }

   // title item
   // -------------------------------------------------------
   &__title{
      font-size: 1.6rem;
      margin-bottom: 3px;

      @include sp{
         text-align: center;
      }
   }

   &__desc{
      line-height: 1.8;
   }
}

/*---------------------------- Gallery ----------------------------*/
.c-gallery{
   // title
   // -------------------------------------------------------
   .c-title{
      margin-bottom: 45px;

      &__sub{
         margin-top: 9px;
      }
   }

   // item
   // -------------------------------------------------------
   &__item{
      &:not(:last-child){
         margin-bottom: 48px;

         @include sp{
            margin-bottom: 30px;
         }
      }

      a{
         display: block;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         padding: 20px 10px;
      }

      &:nth-child(1){
         a{
            background-image: url('../img/home/photogallery_banner01.jpg');
         }
      }

      &:nth-child(2){
         a{
            background-image: url('../img/home/photogallery_banner02.jpg');
         }
      }

      &:nth-child(3){
         a{
            background-image: url('../img/home/photogallery_banner03.jpg');
         }
      }
   }

   &__frame{
      position: relative;
      z-index: 1;
      width: 200px;
      height: 200px;
      border: 3px solid #fff;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;
   }

   &__txt{
      &01{
         font-size: 2rem;
         font-weight: bold;
         color: #fff;
         font-family: "Hiragino Kaku Gothic Pro", sans-serif;
         text-shadow: 2px 2px 2px #040000;
         width: 100%;
      }
      &02{
         width: 100%;
         margin-top: 4px;
      }
   }
}

/*---------------------------- Information ----------------------------*/
.c-information{
   // title
   // -------------------------------------------------------
   .c-title{
      margin-bottom: 41px;

      &__sub{
         margin-top: 9px;
      }
   }
   li{
      &:hover{
         background-color: #f5f5f5;

         img{
            transform: scale(1.2);
         }

         .c-information__desc{
            text-decoration: underline;
         }
      }
   }

   a{
      position: relative;
      display: block;
      @include clear;

      &::before{
         content: "";
         width: 22px;
         height: 23px;
         background-image: url('../img/common/icon_arr.png');
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         right: 45px;
         top: 50%;
         transform: translateY(-50%);

         @include sp{
            right: auto;
            left: 50%;
            bottom: -30px;
            top: auto;
            transform: translate(-50%, 0) rotateZ(90deg);
         }
      }
   }

   // item
   // -------------------------------------------------------
   &__item{
      border-top:1px solid #939393;
      padding: 30px 0;

      @include sp{
         padding-bottom: 30px;
         margin-bottom: 30px;
      }
   }

   // image
   // -------------------------------------------------------
   &__img{
      width: 33%;
      padding-right: 12px;
      float: left;
      overflow: hidden;

      img{
         transition: all .3s ease-out;
      }

      @include sp{
         width: 100%;
         float: none;
         text-align: center;
         padding: 0;
         margin-bottom: 30px;
      }
   }

   // content
   // -------------------------------------------------------
   &__content{
      width: 67%;
      padding-left: 12px;
      padding-right: 70px;
      float: left;
      font-family: "Hiragino Kaku Gothic Pro", sans-serif;

      @include sp{
         width: 100%;
         float: none;
         padding: 0;
      }
   }

   // sub title item
   // -------------------------------------------------------
   &__subHead{
      font-weight: bold;
      color: #888;
      margin-bottom: 8px;
      line-height: 1.3;

      @include sp{
         text-align: center;
      }
   }

   // title item
   // -------------------------------------------------------
   &__title{
      font-size: 1.8rem;
      margin-bottom: 12px;

      @include sp{
         text-align: center;
      }
   }

   // description
   // -------------------------------------------------------
   &__desc{
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.75;
   }

   // label
   // -------------------------------------------------------
   &__label{
      font-family: "Arial", sans-serif;
      font-size: 11px;
      color: #fff;
      background-color: #bd0000;
      display: inline-block;
      margin-left: 48px;
      width: 54px;
      text-align: center;
      padding: 2px 5px;

      @include sp{
         margin-left: 10px;
      }
   }
}