/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide{
   a{
      display: block;
      position: relative;
   }

   &__txt{
      position: absolute;
      right: 159px;
      top: 50%;
      transform: translateY(-50%);

      @include sp {
         right: 0;
         left: 0;
         top: 0;
         bottom: 0;
         transform: translateY(0);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 5px;
      }

      p{
         color: #fff;
         font-size: 2.8rem;
         line-height: 1.6;

         @include sp {
            font-size: 1.8rem;
         }
      }
   }

   .slick-dots{
      text-align: center;
      font-size: 0;
      margin-top: 10px;

      li{
         display: inline-block;
         padding: 0 7px;

         &.slick-active{
            button{
               border-color: #22963c;
            }
         }
      }

      button{
         width: 14px;
         height: 14px;
         border:1px solid transparent;
         border-radius: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 0;
         background-color: transparent;
         cursor: pointer;

         &::before{
            content:"";
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #22963c;
            display: inline-block;
         }
      }
   }
}